<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:label="Three Finger Screenshot"
        android:theme="@android:style/Theme.DeviceDefault.Light">

        <!-- Metadatos para que LSPosed reconozca el módulo -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Habilita el gesto de captura de pantalla con tres dedos." />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        
        <!-- Recomendación de alcance (scope) para LSPosed -->
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
